{% extends 'daystarapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center m-4">All Babies Check-Out</h2>
    <div class="col-md-6">
      <a href="{% url 'babycheckout_reg' %}" class="btn btn-primary m-">Add Check-out Time</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Check-Out ID</th>
            <th>Baby Image</th>
            <th>Name</th>
            <th>Picked By</th>
            <th>Period of stay</th>
            <th>Time Out</th>
            <th>Comment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for baby_checkout in babies %}
          <tr class="table-primary" >
            <td>{{ baby_checkout.id }}</td>
            <td><img src="{% static 'IMG/daycare12.jpg' %}" class="rounded-circle" alt="Baby Image" style="width: 50px; height: 50; object-fit: cover;"></td>
            <td>{{ baby_checkout.baby_name }}</td>
            <td>{{ baby_checkout.picked_by }}</td>
            <td>{{ baby_checkout.period_of_stay }}</td>
            <td>{{ baby_checkout.timeOut }}</td>
            <td>{{ baby_checkout.comment }}</td>
            <td>
              <a href="#" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#myModal{{ baby_checkout.id }}">View Details</a>
             
            </td>
          </tr>
          <!-- Modal -->
          <div class="modal fade" id="myModal{{ baby_checkout.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ baby_checkout.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel{{ baby_checkout.id }}">Baby Check-Out Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <ul class="list-unstyled">
                    <li><strong>Baby Name:</strong> 
                       {{ baby_checkout.baby_name }}     
                    </li>
                    <li><strong>Picked By:</strong> {{ baby_checkout.picked_by }}</li>
                    <li><strong>Period of stay:</strong> {{ baby_checkout.period_of_stay }}</li>
                    <li><strong>Time Out:</strong> {{ baby_checkout.timeOut }}</li>
                    <li><strong>Comment:</strong> {{ baby_checkout.comment}}</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <a href="{% url 'babycheckout_edit' baby_checkout.id %}" class="btn btn-warning me-1"><i class="fa-solid fa-pen-to-square fa-lg"></i> Edit</a>
              <a href="{% url 'babycheckout_delete' baby_checkout.id %}" class="btn btn-danger me-1"><i class="fa-solid fa-trash fa-lg"></i> Delete</a>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
{% endblock %}
