{% extends "daystarapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
    <h3 class="text-center m-4">Update Baby Check-In</h3>
    {% if success %}
        <div class="alert alert-success" role="alert">
            The baby check-in has been updated successfully.
            <a href="{% url 'baby_checkin' %}" class="alert-link">Go to Check-In Page.</a>
        </div>  
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card border-light mb-3">
                    <div class="card-header">
                        <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Baby Check-In
                    </div>
                    <div class="card-body">
                        <form action="{% url 'babycheckin_edit' baby.id %}" method="POST">
                            {% csrf_token %}
                            {{ form_checkin|crispy }}
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="{% url 'baby_checkin' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>   
            </div>
        </div>  
    {% endif %}  
{% endblock %}
