{% extends 'daystarapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center m-4">All Babies Check-In</h2>
    <div class="col-md-6">
      <a href="{% url 'babycheckin_reg' %}" class="btn btn-primary m-">Add Check-In Time</a>
    </div>
  </div>
  <hr>
  <div class="row">
    {% for baby_checkin in babies %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">Check-In {{ baby_checkin.id }}</div>
        <div class="card-body">
          <img src="{% static 'IMG/daycare12.jpg' %}" class="rounded-circle" alt="Baby Image" style="width: 100px; height: 100px; object-fit: cover;">
          <p class="card-text">
            <strong> Name:{{ baby_checkin.baby_name }}</strong><br>
            <strong>Brought By:</strong> {{ baby_checkin.broughtby }}<br>
            <strong>Time In:</strong> {{ baby_checkin.timeIn }}<br>
          </p>
          <a href="{% url 'view_baby' baby_checkin.id %}" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#myModal{{ baby_checkin.id }}">
            View Details
          </a>
          <!-- Modal -->
          <div class="modal fade" id="myModal{{ baby_checkin.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ baby_checkin.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel{{ baby_checkin.id }}">Baby Check-In Details</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <ul class="list-unstyled">
                    <li><strong>Baby Name:</strong> 
                      {% for baby in baby_checkin.baby_name.all %}
                        {{ baby.first_name }} {{ baby.last_name }}
                        {% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </li>
                    <li><strong>Brought By:</strong> {{ baby_checkin.broughtby }}</li>
                    <li><strong>Time In:</strong> {{ baby_checkin.timeIn }}</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a href="{% url 'babycheckin_edit' baby_checkin.id %}" class="btn btn-warning me-1">
                    <i class="fa-solid fa-pen-to-square fa-lg"></i> Edit
                  </a>
                  <a href="{% url 'babycheckin_delete' baby_checkin.id %}" class="btn btn-danger me-1">
                    <i class="fa-solid fa-trash fa-lg"></i> Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
