{% extends 'daystarapp/base.html' %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row justify-content-center">
    </div>
</div>
<h1 class="text-center mb-5" style="font-family: 'Georgia', serif; ">Welcome to DayStar Daycare</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static 'IMG/daycare12.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fas fa-baby fa-3x icon-color"></i>
                    <h5 class="card-title" style="color: white;">Babies Admitted</h5>
                    <p class="card-text" style="color: white;">View and manage information about admitted babies.</p>
                    <a href="/baby/" class="btn btn-primary">View Details</a>
                </div>
            </div>
          </div>
  
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static 'IMG/day2.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fas fa-user-nurse fa-3x icon-color" ></i>
                    <h5 class="card-title" style="color: white;">Sitters Employed</h5>
                    <p class="card-text" style="color: white;">View and manage information about employed sitters.</p>
                    <a href="/sitter/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static 'IMG/pay2.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fas fa-hand-holding-usd fa-3x  icon-color"></i>
                    <h5 class="card-title" style="color: white;">Payments</h5>
                    <p class="card-text" style="color: white;">View and manage baby and sitter payment information.</p>
                    <a href="/payments/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static 'IMG/toy2.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fa-solid fa-wand-magic-sparkles fa-3x  icon-color"></i>
                    <h5 class="card-title" style="color: white;">Toys</h5>
                    <p class="card-text" style="color: white;">Access and update the daycare's dolls inventory</p>
                    <a href="/dolls/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static 'IMG/cal.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fa-solid fa-car fa-3x  icon-color"></i>
                    <h5 class="card-title" style="color: white;">Schedule</h5>
                    <p class="card-text" style="color: white;">Manage the daycare's daily schedule i.e Check-In and Check-out time.</p>
                    <a href="/baby_checkin/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow rounded" style="background-image: url('{% static '/IMG/inventory.jpg' %}'); background-size: cover; background-position: center;">
                <div class="card-body">
                    <i class="fas fa-chart-line fa-3x  icon-color"></i>
                    <h5 class="card-title" style="color: white;">Analytics</h5>
                    <p class="card-text" style="color: white;">Analyze daycare performance with detailed statistics.</p>
                    <a href="/procurementhome/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
