{% extends "daystarapp/landingpage.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}
<body>
    <div class="container bg-light shadow-md p-5 form-layout">
        <h3>Login in to your Account!</h3>
        <hr>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %} 
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-primary me-1">
                <i class="fa-solid fa-sign-in-alt fa-lg"></i> Login
            </button>
        </form>
        <div class="text-center">
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}
        <br>
    </div>
</body>
{% endblock %}
