{% extends "daystarapp/base.html" %}
{% load static %}
{% block body %}
<h3 class="text-center m-4">Procurement Page  </h3> <hr>
<div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card shadow">
          <img src="{% static 'IMG/daycare12.jpg' %}" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">ITEMS</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <p class="card-text">This contains all the daycares items in the inventory.</p>
            <a href="/procurement/" class="card-link">All Items</a>
          </div>
          <div class="card-footer text-muted">
            <script>document.write(new Date().getFullYear())</script>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card shadow">
            <img src="{% static 'IMG/preschooler.jpg' %}" class="card-img-top" alt="Placeholder Image">
         
          <div class="card-body">
            <h5 class="card-title">DOLLS</h5>
            <h6 class="card-subtitle mb-2 text-muted">CHILD'S SMILES</h6>
            <p class="card-text">Contains all the dolls you for the baby.</p>
            <a href="/dolls/" class="card-link">Click Here</a>
          </div>
          <div class="card-footer text-muted">
            <script>document.write(new Date().getFullYear())</script>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card shadow">
          <img src="{% static 'IMG/preschooler.jpg' %}" class="card-img-top" alt="Placeholder Image">
          <div class="card-body">
            <h5 class="card-title">READY TO RESTOCK</h5>
            <h6 class="card-subtitle mb-2 text-muted">RESTOCKED!</h6>
            <p class="card-text">All the restocked in the inventory.</p>
            <a href="#" class="card-link">Click Here</a>
          </div>
          <div class="card-footer text-muted">
            <script>document.write(new Date().getFullYear())</script>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
