{% extends 'daystarapp/base.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row">
          <h2 class="text-center m-4">
        All Sitters</h2>
      <div class="col-md-6"> <!-- Right side -->
        <a href="{% url "sitter_reg" %}" class="btn btn-primary m-">Add Sitter</a>
      </div>
    </div>
    <hr>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            {% for sitter in sitters %}
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <div class="card-header">Sitter No: {{ sitter.id }}</div>
                    <div class="card-body">
                        <!-- Adjust the width and height of the image -->
                        <img src="{% static 'IMG/preschooler.jpg' %}" class="rounded-circle" alt="Sitter Image" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title">{{ sitter.s_firstname }} {{ sitter.s_lastname }}</h5>
                        <p class="card-text">
                            Gender: {{ sitter.s_gender }}<br>
                            Age: {{ sitter.s_age }}<br>
                            Location: {{ sitter.s_location }}<br>
                            Next of Kin: {{ sitter.s_nextofkin }}<br>
                            NIN: {{ sitter.s_NIN }}<br>
                            Education Level: {{ sitter.s_educationlevel }}<br>
                            Contact: {{ sitter.s_contact }}
                        </p>
                        <div class="text-center">
                            <a href="{% url 'view_sitter' sitter.id %}" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#myModal{{ sitter.id }}">
                                View Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal{{ sitter.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ sitter.s_firstname }} {{ sitter.s_lastname }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Sitter No: {{ sitter.id }}<br>
                                First Name: {{ sitter.s_firstname }}<br>
                                Last Name: {{ sitter.s_lastname }}<br>
                                Gender: {{ sitter.s_gender }}<br>
                                Age: {{ sitter.s_age }}<br>
                                Location: {{ sitter.s_location }}<br>
                                Next of Kin: {{ sitter.s_nextofkin }}<br>
                                NIN: {{ sitter.s_NIN }}<br>
                                Education Level: {{ sitter.s_educationlevel }}<br>
                                Contact: {{ sitter.s_contact }}
                            </p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 's_edit' sitter.id %}" class="btn btn-warning me-1">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i> Edit
                            </a>
                            <a href="{% url 'sitter_delete' sitter.id %}" class="btn btn-danger">
                                <i class="fa-solid fa-trash fa-lg"></i> Delete
                            </a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
