{% extends 'daystarapp/base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Transaction List</h2>
            <ul class="list-group">
                {% for transaction in transactions %}
                <li class="list-group-item"><a href="{% url 'transaction_detail' transaction.pk %}">{{ transaction }}</a></li>
                {% empty %}
                <li class="list-group-item">No transactions available</li>
                {% endfor %}
            </ul>
            <a href="{% url 'dolls' %}" class="btn btn-primary mt-3">Back to Dollpage</a>
        </div>
    </div>
</div>
{% endblock %}
